@model IPagedList<BookViewModel>
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Template/Master.cshtml";
}
@section Buttom{
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                @Html.Partial("_LibarySearchPartal")
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("創建一本新書", "AddBook", null, new { @class = "btn btn-lg btn-primary pull-right" })
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
    {
                <div class="col-sm-4 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">書名:@item.bookName</div>
                        <div class="panel-body">
                            @*@Html.Partial("_LibaryImagePartal", item.ImagePath)*@
                        </div>
                        <div class="panel-footer">類型:@item.BookType<br />語言:@item.BookLanguage</div>
                        <div class="panel-footer">摘要:@item.summary</div>
                        <div class="panel-footer">
                            @Html.ActionLink("修改", "EditBook", new { id = item.id }, new { @class = "btn btn-lg btn-primary" })
                            @Html.ActionLink("刪除", "Delete", new { id = item.id }, new { @class = "btn btn-lg btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <footer class="container-fluid text-center">
        @Html.Partial("_LibarayPagePartial", Model)
    </footer>
}
@section Script{

}
