@model LibraryModel.BookViewModel

@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Template/Master.cshtml";
}

<h2>EditBook</h2>
@section Buttom {
    @using (Html.BeginForm("EditBook", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            <h3>
                類型
            </h3>
            <h3>
                @Html.Raw(ViewData["BookLanguage"])
            </h3>

            <h3>
                @Html.LabelFor(model => model.bookName)
            </h3>
            <div class="editor-field">
                @Html.EditorFor(model => model.bookName)
                @Html.ValidationMessageFor(model => model.bookName)
            </div>

            <h3>
                語言
            </h3>
            <div class="editor-field">
                @Html.Raw(ViewData["BookType"])
            </div>

            @Html.HiddenFor(model => model.id)

            <h3>
                @Html.LabelFor(model => model.summary)
            </h3>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.summary, new { @cols = 50, @rows = 8 })
                @Html.ValidationMessageFor(model => model.summary)
            </div>
            @Html.Partial("_LibarayEditImagePartial", Model.ImagePath)
            @Html.Partial("_LibraryUploadPartial")
            <p>
                <input type="submit" value="修改完成" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}