@model MyWeb.Model.UserModel

@{
    ViewBag.Title = "創建帳號";
    Layout = "~/Views/Template/LoginMaster.cshtml";
}
@section Body{
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>UserModel</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.user_txt)
            </div>
            <div class="txt_input">
                @Html.EditorFor(model => model.user_txt)
                @Html.ValidationMessageFor(model => model.user_txt)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.password_txt)
            </div>
            <div class="txt_input">
                @Html.PasswordFor(model => model.password_txt)
                @Html.ValidationMessageFor(model => model.password_txt)
            </div>
            <p>
                <input type="submit" value="創建帳戶" />
            </p>
            <h1>@ViewBag.message</h1>
        </fieldset>
    }
}