@model MyWeb.Model.BookModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Template/Master.cshtml";
}

@section Buttom{
    @using (Html.BeginForm("Edit", "Book", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.id)
        <div class="editor-label">
            @Html.LabelFor(model => model.bookName)
            @Html.TextBoxFor(moudel => moudel.bookName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BookLanguage)
            @Html.DropDownList("language")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BookType)
            @Html.DropDownList("booktype")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.summary)
            @Html.TextAreaFor(moudel => moudel.summary, 10, 40, new object { })
        </div>
        <p>
            <input type="submit" value="修改" />
        </p>
    }
    <div>
        @Html.ActionLink("回到上一頁", "Index")
    </div>
}