@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/Master.cshtml";
}
@model MVC.Controllers.BookController.MyViewModel
<link href="~/Style/Mystyle.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $("a[action='delete']").click(function (event) {
            if (confirm("確定要刪除嗎")) {
            }
            else {
                event.preventDefault();
            }
        });
    });
</script>
@section Buttom{
    @using (Html.BeginForm())
    {
        <table>
            <tr><td>書名</td><td>@Html.DropDownList("Language", "請選擇")</td></tr>
            <tr><td>類別</td><td>@Html.DropDownList("BookType", "請選擇")</td></tr>
        </table>
        <input type="submit" value="查詢" />
    }
    @Html.ActionLink("新增一本書", "AddBook", "Book")
    <table>
        <tr style="background-color: yellow">
            <td colspan="2">動作</td>
            <td class="twentypercent">書名</td>
            <td class="twentypercent">語言</td>
            <td class="twentypercent">種類</td>
            <td class="fourtypercent">摘要</td>
        </tr>
        @foreach (var item in ViewData.Model.books)
        {
            <tr style="background-color: #BBFF66">
                <td>@Html.ActionLink("刪除", "Delete", "Book", new { id = item.id }, new { action = "delete" })</td>
                <td>@Html.ActionLink("編輯", "Edit", "Book", new { id = item.id }, new { action = "edit" })</td>
                <td class="twentypercent">@item.bookName</td>
                <td class="twentypercent">@item.BookLanguage</td>
                <td class="twentypercent">@item.BookType</td>
                <td class="fourtypercent">@item.summary</td>
            </tr>
        }
    </table>
    <p>
        @MyWeb.Common.ExtHtmlHelper.Pager(Html, (string)ViewData["page"], 10, (int)ViewData.Model.PageTotal, (MyWeb.Model.PagerMode)ViewData["Parameters"])
    </p>
}