@model UserModel
@{
    ViewBag.Title = "登入頁面";
    Layout = "~/Views/Template/LoginMaster.cshtml";
}
@Html.ActionLink("新創一個帳戶", "Register")
<div class="container">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new
    {
        @class = "form-signin",
        role = "form"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">登入系統</h2>
            <label for="inputEmail">帳號</label>
            @Html.TextBoxFor(u => u.Lib_username, new
       {
           @class = "form-control",
           required = "",
           autofocus = ""
       })
            @Html.ValidationMessageFor(u => u.Lib_username)
            <label for="inputPassword">密碼</label>
            @Html.PasswordFor(u => u.Lib_password,
                    new
                    {
                        @class = "form-control",
                        required = "",
                        autofocus = ""
                    })
            @Html.ValidationMessageFor(u => u.Lib_password)
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button id="submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
    }
</div>
